<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  about </title>
</head>
<body>
    <h1> ABOUT PAGE</h1>
    <p>Humpty Dumpty had a great fall</p>
    <p>Yes, sir, yes, sit, 3 bags full</p>
    <p>I have been to London to visit the queen</p>
    <p>Rain, rain, go away</p>
    <nav>
        <ol>
            <li><button><a href ="./index.ejs">HOME</a></button></li>
            <li><button><a href ="./contact-me.ejs">CONTACT ME</a></button></li>
        </ol>
        </nav>
</body>
</html>