<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact info</title>
</head>
<body>
<ul>
    <h1>CONTACT ME</h1>
    <li>phone: 01949259373</li>
    <li>instagram: @kdfjs_kjd</li>
    <li>facebook: uhdhdjsois</li>
</ul>
<nav>
    <ol>
        <li><button><a href ="./about.ejs">ABOUT</a></button></li>
        <li><button><a href ="./index.ejs">HOME</a></button></li>
    </ol>
    </nav>
</body>
</html>